.exittext {
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 3em;
    text-align: center;
    margin-top: 2vh;
}
.background {
    background-image: url('/orangecampervan.svg'); 
    background-repeat: no-repeat;
    background-size: 75%; 
}
.vanlogo {
    border: solid 0.3em #f2994a;
  border-radius: 0.75em;
    height: 40vh;
    width: 33.3vw;
}
