.nav-bar-blank {
  /* background-color: #F9FAE3; */
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.campervanlogo {
  border: solid 0.3em #f2994a;
  border-radius: 0.75em;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 20.7vw;
}
