.vanviewbox {
    width: 74vw;
    height: auto;
    margin-left: 9.5vw;
    margin-top: 2vh;
    background-color:white;
    color: #4f4f4f;
    padding: 1em;
    border: solid 2em #F2994A;
    border-radius: 0.75em;
    text-align: left;
}
.spreadout {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.centred {
    text-align: center;
}
.largefont {
    font-size: 1.2em;
}