.sendbutton {
    background-color:#4F4F4F;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    padding: 1em 1em 1em 1em;
    margin-top: 30vw;
    margin-left: 65vw;
    border: solid 0.3em #4F4F4F;
    border-radius: 0.75em;
}