.searchLabel {
    margin-top: 3vh;
    margin-left: 5vw;
    margin-right: 1.5vw;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 2.5em;
}
.searchInput {
    width: 10vw;
    height: 2em;
    margin-top: 3vh;
    margin-right: 1.5vw;
    color:#4f4f4f;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 2em;
}
.searchTitle {
    margin-left: 2vw;
    margin-right: 1.5vw;
}
.searcharrow {
    width: 3em;
    color: white;
}
.funky {
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 3em;
    color: #F2994A;
    margin-top: 2.5vh;
}
.sun {
    width: 5em;
}
.allvans {
    background-image: url('/multivan.jpg');
  background-repeat: repeat;
  background-size: cover;
}