.mainnav {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mainnavimage {
    border: solid 0.3em #F2994a;
    border-radius: 0.75em;
    margin-top: 2em;
    margin-left: 8vw;
    width: 20vw;
}

.mainnavbutton {
    background-color:#F2994A;
    color: #4f4f4f;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    padding: 1em 1em 1em 1em;
    margin: 2em;
    border: solid 0.3em #4f4f4f;
    border-radius: 0.75em;
    width: 10vw;
    height: 15vh;
}
.endnavbutton {
    background-color:#4F4F4F;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    padding: 1em 1em 1em 1em;
    margin: 2em;
    border: solid 0.3em #F2994A;
    border-radius: 0.75em;
    width: 10vw;
    height: 15vh;
}
.buttonplace {
    margin-right: 7vw;
}