@media (min-width: 320px) {
.sendbutton {
    background-color:#4F4F4F;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    padding: 1em 1em 1em 1em;
    margin-top: 32vw;
    margin-left: 60vw;
}
}   