@media (min-width: 320px) {
footer {
    background-color: #4F4F4F;
    color: #F2994A;
    font-family: 'Just Me Again Down Here', cursive;
    height: 15vh;
    text-align: center;
  }
  
  footer span {
    color: greenyellow;
  }
  footer p {
    padding-top: 2.5vh;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 1em;
    
  }
}