@media (min-width: 768px) {
.login {
    /* background-color: #F9FAE3; */
    background-image: url("/orangecampervan3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .loginform {
    height: 60vh;
  width: 50vw;
  background-color: #4f4f4f;
  color: #f2994a;
  padding: 5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16vh 5vw 15vh 10vw;
  }
  
  .loginlabel {
    font-family: "Just Me Again Down Here", cursive;
    font-size: 2.5em;
    text-align: center;
    /* padding: 1em; */
  }
  .logininput {
    color: #4f4f4f;
  width: 40vw;
  height: 5vh;
  /* margin-left: 3vw;
  margin-bottom: 1em; */
  }
  .loginbutton {
    background-color: #f2994a;
  color: #4f4f4f;
  font-family: "Permanent Marker", cursive;
  font-size: 1em;
  width: 20vw;
  margin-top: 4vh;
  /* margin-bottom: 3vh; */
  padding: 1em;
  }
  .gobackbutton {
    background-color: #f9fae3;
  color: #4f4f4f;
  font-family: "Permanent Marker", cursive;
  font-size: 1em;
  width: 20vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 1em;
  }
  .logo {
  width: 30vw;
  }
  }